.body {
  display: block;
  margin: auto;
  text-align: center;
  height: 50%;
  width: 50%;
}

.logo {
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 200px;
  padding-bottom: 30px;
}

.search {
  margin: auto;
  width: 500px;
  height: 30px;
}

.buttons {
  display: block;
  padding-top: 30px;
}

input[type="submit"] {
text-align: center;
background-color: #f2f2f2;
font-family: arial;
font-size: 13px;
height: 30px;
}

.topul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float:right;
  font-family: arial;
  font-size: 15px;
}

.topul li {
  display:inline;
  padding: 8px 8px 8px 8px;
}

button {
  background-color: #4285f4;
  color: white;
  border-radius: 5px;
}

footer {
  margin-top: 280px;
  color: grey;
}

.bottomull {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  font-family: arial;
  font-size: 15px;
}

.bottomull li {
  display: inline;
}

.bottomulr {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  font-family: arial;
  font-size: 15px;
}

.bottomulr li {
  display: inline;
}
